[data-theme="light"] {
    --color-bg-heading: #5faceb;
    --color-scroll-btn: #5faceb;
    --color-lines: #5faceb;
    --color-bg: #fff;
    --color-bg-photo: #88c5f7;
    --color-text: #000;
    --color-border: #000;
}