@import url(./img/img.css);
@import url(./photo-metadata/photo.metadata.css);

#title {
    height: 10vh;
    display: flex;
    color: var(--text-color-heading);
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-heading);
    border-bottom: 2px solid var(--bd-color-global);;
}

#showcase-images {
    width: 100%;
    height: 90vh;
    position: relative;
    background-color: var(--bg-color-global);
}

#showcase-images .photo {
    height: 300px;
    background-color: var(--bg-color-photos);
    width: 250px;
    position: absolute;
    border: 1px solid black;
}

#showcase-images .photo:hover {
    box-shadow: 5px 5px 5px 5px black;
    cursor: pointer;
    z-index: 200;
}

#showcase-images .photo figure {
    height: 50%;
    top: 10px;
    left: 5%;
    width: 90%;
    background-color: black;
    position: absolute;
    border: 1px solid black;
}

#showcase-images .photo h3 {
    top: 70%;
    left: 5%;
    width: 90%;
    text-align: center;
    position: absolute;
    color: var(--color-text);
}

#showcase-images .photo h3::after {
    content: " ";
    background-color: var(--bd-color-global);
    height: 1px;
    left: 10%;
    top: 100%;
    width: 80%;
    position: absolute;
}

#showcase-images .photo figure img {
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    #showcase-images .photo {
        height: 250px;
        width: 200px;
        position: absolute;
        border: 1px solid black;
    }
}

@media only screen and (max-width: 767px) {
    #showcase-images .photo {
        height: 150px;
        width: 130px;
        position: absolute;
        border: 1px solid black;
    }

    #showcase-images .photo h3 {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 767px) {
    #title {
        font-size: 0.4rem;
    }
}
