@import url(./about/about.css);
@import url(./contact/contact.css);

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

section h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    background-color: var(--color-bg-heading);
    /*background-color: #db1406ec;*/
    height: 5vh;
    font-size: 0.9rem;
}
