:root {
    /*
    --color: #972b6e;
    --secondary-color: #d43c31ec;*/
    font-size: 20px;
    scroll-behavior: smooth;

    --color-bg: "";
    --color-text: "";
    --color-cards: "";
    --color-bg-heading: "";
    --color-scroll-btn: "";
    --color-lines: "";
    --color-border: "";
    --color-form-btn: "";
}