footer {
    background-color: var(--color-bg-heading);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
}