@import url(./root/root.css);
@import url(./themes/themes.css);
@import url(./animations/animations.css);
@import url(./showcase/showcase.css);
@import url(./main/main.css);
@import url(./footer/footer.css);
@import url(./others/others.css);

body {
    margin: 0;
    padding: 0;
}

body * {
    margin: 0;
    padding: 0;
}
